body {
	background-image: url(../images/mainBG1280.jpg);
	background-position: right bottom; padding: 35px 30px;
}

.globalWrap {
	width: 90%;
}

#arrow {
	background-image: url(../images/arrow1280.png); width: 223px; height: 96px;	position: absolute; bottom: -100px; right: 0px
}

.imageList li a {
	width: inherit; border: none;
}

.imageList li {
	width: inherit;
}

.halfCol:last-child  {
	padding-left: 130px;
}

#apple {
	background-image: url(../images/appleIcon.png); width: 80px; height: 54px;
}

#hbo {
	background-image:url(../images/hboIcon.png); width: 88px; height: 54px;
}

#netflix {
	background-image: url(../images/netflixIcon.png);width: 54px; height: 54px;
}

#imageTitles {
	display: none;
}

#wheelWrap img {
	width: 25%;
}
.stretchBox h2 {
	font-size: 2em;
}
.halfCol:last-child  {
	padding-left: 10px;
}

#mainNav a {
	font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1em; text-transform: uppercase; text-align: right;
}

#mainNav li {
	display: block;
}

#mainNav {
	width: 14%;  
}

aside h2 {
	font-size: 2.4em;
}



h1, h2 {
	font-size: 4em;
}


.importantLink {
	 padding: 15px; font-size: 1.5em; 
	}
	
#contact form, #aboutContent {
	width: 58%; 
}

aside {
	width: 30%;
}


#name, #email {
	width: 42%; display: block;margin: 6px 0 12px 0;
}


textarea {
	height: 150px;
}



.banner {
	margin-left: -40px; margin-top: 18px; width: 1024px; height: 227px; background-image:url(../images/aboutBG1024.jpg);
}

#portfolioGrid p {
	font-size: 1.4em;
}

#portfolioGrid h3 {
	font-size: 1.4em;
}

#optionsForm {
	margin: 0 0 26px 0;
}


#optionsForm li {
	 font-size: 1.2em; margin: 5% 0;
}

#yourDesign {
	padding-top: 18px;
}

.stepNumber {
	display: none;
}