body {
	background-image: url(../images/mainBG1280.jpg);
	background-position: right bottom;
}

.globalWrap {
	width: 90%;
}

#arrow {
	background-image: url(../images/arrow1280.png); width: 223px; height: 96px;
}

.imageList li a {
	width: 123px; height: 69px; 
}

.imageList li {
	width: 123px;
}


#apple {
	background-image: url(../images/appleScreen1280.jpg);
}

#hbo {
	background-image:url(../images/hboScreen1280.jpg);
}

#netflix {
	background-image: url(../images/netflixScreen1280.jpg);
}

.halfCol:last-child  {
	padding-left: 10px;
}

#mainNav a {
	font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1em; text-transform: uppercase; 
}

#mainNav li {
	display: inline; margin-left: 6%;
}

#mainNav {
	width: 54%; 
}

#contact form, #aboutContent {
	width: 58%; 
}

aside {
	width: 26%;
}


#name, #email {
	width: 22%;
}

#optionsForm {
	margin: 0 0 26px 0;
}


#optionsForm li {
	 font-size: 1.6em; margin: 12px 0;
}


