body {
	background-image: none;
	background-color: white;padding: 35px 30px;
}

.globalWrap {
	width: 90%;
}

#arrow {
	display: none;
}

.imageList {
	text-align: center;
}

.imageList li a {
	width: inherit;
	border: none;
	display: block;
	background-position: center 0%; background-repeat: no-repeat;
}

.imageList li {
	width: inherit; display: block; margin-bottom: 36px;
}

#apple {
	background-image: url(../images/appleIcon.png);  height: 54px;
}

#hbo {
	background-image:url(../images/hboIcon.png);height: 54px;
}

#netflix {
	background-image: url(../images/netflixIcon.png);height: 54px;
}

#imageTitles {
	display: none;
}

.stretchBox h2 {
	font-size: 2em;
}

p {
	font-size: 1.4em; text-align: justify; margin: 0 0 36px 0;
}

#subContent article p {
	width: 100%;
}

.halfCol:last-child  {
	padding-left: 0px; float: none;
}

.halfCol {
	width: 100%;
}

#mainNav a {
	font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1em; text-transform: uppercase; text-align: right;
}

#mainNav li {
	display: block; text-align: right;
}

#mainNav {
	width: 34%;   text-align: right;
}

#arrow {
	position: absolute; bottom: -100px; right: 20px
	
}

.table {
	display: block;
}

.stretchBox form {
	margin: 60px 0;
}

.table .stretchBox {
	display: block; float: left; width: 100%; margin-top: 30px;
}

.table .stretchBox:nth-child(odd) {
	margin-right: 10px;
}

#socialNav {
	position: absolute; top: 110px; left: 30px;
}

.importantLink {
	 padding: 15px; font-size: 1.5em; line-height: 1.8em;text-transform: uppercase; margin: 9px auto 45px auto; width: 60%;
}

h1, h2 {
	font-size: 3em; text-align: center;
}

h2 {
	margin-bottom: 0px;
}

h3 {
	text-align: center;
}

footer nav li {
	margin-bottom: 9px;
}

.stepNumber {
	font-size: 3.5em; background-color: white; padding: 5px 15px; position: absolute; top: -20px; left: -18px;
}

.clear {
	clear: both;
}


#contact form, #aboutContent {
	width: 100%; 
}

aside {
	width: 84%; padding: 5% 8%; margin: 36px 0;
}


#name, #email {
	width: 100%; display: block; margin: 6px 0 12px 0;
}


aside h2 {
	font-size: 2.6em; margin-bottom: 18px;
}

textarea {
	height: 200px;
}

#contact h1, #contact h2, #portfolio h2, #portfolio h1 {
	text-align: left;
}

aside li {
	font-size: 1.4em;
}

aside, #contact form, #aboutContent {
	float: none;
}

footer nav {
	background-color: white; padding-top: 9px;
}

#aboutContent p {
	width: 100%;
}

.banner {
	display: none;
}

.my-gallery {
	  width: 100%; height: 250px; display: block;
}

.my-gallery .slides .slide {
display: block; 
 }
 
 .my-gallery img {
	 width: 100%; 
 }
 
 
#portfolio #mainContent .mobile {
	display: block;
}

#portfolioGrid {
	display: none;
}

.slidetext {
	text-align: center;
}

footer nav {
	text-align: center;
}

#amazon {
	width: 80px; height: 34px; background-image: url(../images/amazonSmall.png);
}

#w3 {
	
	width: 38px; height: 34px; background-image:url(../images/w3Small.png);
}

#github {
	width: 30px; height: 34px; background-image: url(../images/githubSmall.png);
}


#optionsForm {
	margin-left: 4%; padding-top: 18px;
}


