body {
	background-image: url(../images/mainBG1280.jpg);
	background-position: right bottom; padding: 35px 30px;
}

.globalWrap {
	width: 90%;
}

#arrow {
	display: none;
}

.imageList {
	text-align: center;
}

.imageList li a {
	width: inherit;
	border: none;
	display: block;
	background-position: center 0%; background-repeat: no-repeat;
}

.imageList li {
	width: inherit; display: block; margin-bottom: 36px;
}

#apple {
	background-image: url(../images/appleIcon.png);  height: 54px;
}

#hbo {
	background-image:url(../images/hboIcon.png);height: 54px;
}

#netflix {
	background-image: url(../images/netflixIcon.png);height: 54px;
}

#imageTitles {
	display: none;
}

.stretchBox h2 {
	font-size: 2em;
}

p {
	font-size: 1.4em;
}

.halfCol:last-child  {
	padding-left: 0px;
}

#mainNav a {
	font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1em; text-transform: uppercase; text-align: right;
}

#mainNav li {
	display: block; text-align: right;
}

#mainNav {
	width: 34%;   text-align: right;
}

#arrow {
	position: absolute; bottom: -100px; right: 20px
	
}

.table {
	display: block;
}

.stretchBox form {
	margin: 60px 0;
}

.table .stretchBox {
	display: block; float: left; width: 43%; margin-top: 30px;
}

.table .stretchBox:nth-child(odd) {
	margin-right: 10px;
}

#socialNav {
	position: absolute; top: 110px; left: 30px;
}

.importantLink {
	 padding: 15px; font-size: 1.5em; line-height: 1.8em;text-transform: uppercase; margin-top: 9px;
}

h1, h2 {
	font-size: 3em; text-align: center;
}

h3 {
	text-align: center;
}

footer nav ul {
	text-align: center;
}

.stepNumber {
	font-size: 3.5em; background-color: white; padding: 5px 15px; position: absolute; top: -20px; left: -18px;
}

.clear {
	clear: both;
}

#contact form, #aboutContent {
	width: 52%; 
}

aside {
	width: 36%; padding: 4% 3%;
}


#name, #email {
	width: 98%; display: block; margin: 6px 0 12px 0;
}


aside h2 {
	font-size: 2em;
}

textarea {
	height: 200px;
}

#contact h1, #contact h2, #portfolio h2, #portfolio h1 {
	text-align: left;
}

aside li {
	font-size: 1.4em;
}


.banner {
	margin-left: -40px; margin-top: 18px; width: 1024px; height: 227px; background-image:url(../images/aboutBG1024.jpg);
}

#portfolioGrid p {
	font-size: 1.4em;
}

#portfolioGrid h3 {
	font-size: 1.4em;
}

#ucfTwo {
	display: table-cell;
}

#ucfOne {
	display: none;
}


