@charset "utf-8";

/*fonts */
h1, #mainNav a, h2, h3 {
	font-family: 'Open Sans', sans-serif; 
}

.stepNumber, label, .importantLink, p, li,
.submit, .slidetext,#optionsForm  {
	font-family: 'Roboto Slab', sans-serif;
}

body {
	background-image: url(../images/mainBG.jpg); background-repeat: no-repeat; background-position: bottom right; padding: 35px 40px; background-color: #e1e1e0; background-attachment: fixed;
}

p, li {
	font-size: 1.8em; line-height: 1.5em;
}

a, .submit {
	text-decoration: none; color: black; transition: opacity .12s ease-in-out; -moz-transition: opacity .12s ease-in-out;  -webkit-transition: opacity .12s ease-in-out;
}

a:hover {
	opacity: .5
}

.imageReplace {
	display: block; text-indent: -999em;
}

#mainLogo {
	background-image: url(../images/mainLogo.png); width:188px; height:77px; margin-right: 25px;
}

.horNav li {
	float: left; margin-right: 15px;
}

#socialNav {
	margin-top: 10px;
}

#socialNav li a {
	width: 37px; height: 37px; 
}


#facebookIcon {
	background-image: url(../images/facebookIcon.png);
}

#twitterIcon {
	background-image: url(../images/twitterIcon.png);
}

.banner {
	margin-left: -40px; margin-top: 18px;
}



#pinterestIcon {
	background-image: url(../images/pinterestIcon.png);
}

#youtubeIcon {
	background-image: url(../images/youtubeIcon.png);
}


#mainNav a {
	font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1.2em; text-transform: uppercase; 
}

#mainNav li {
	display: inline; margin-left: 8%;
}

#mainNav li:first-child {
	margin-left: 0;
}

#mainLogo, #socialNav {
	float: left;
}

#mainNav {
	float: right;	text-align: right;width: 60%; 
}

#mainNav ul {
	text-align: right; 
}

.globalWrap {
	width: 1180px; margin: 0 auto;
}

h1, h2 {
	font-size: 5em; font-weight: 700; color: #666; margin-bottom: 18px;
}

#mainContent {
	padding-top: 40px; 
}

.stretchBox {
	background-color: #006699; color: white;  padding: 2%; text-align: center; position: relative; 
}



.stretchBox h2 {
	background-color: #3399cc; color: white; padding: 15px 20px;  font-weight: 600; font-size: 3em; margin-top: 9px;
}


.evenSpace {

  text-align: justify; vertical-align: top;

}

.evenSpace #wheelWrap img, .imageList li {
  display: inline-block;
 vertical-align: top;
 
}

.evenSpace:after {
  content: '';
  display: inline-block;
  width: 100%;
 
}

.table {
	display: table;  border-collapse: separate;
  border-spacing: 15px; 
}

.table .stretchBox {
	display: table-cell; vertical-align: bottom; width: 20%;
}

.stepNumber {
	font-weight: bold; color: #3399cc; font-size: 5.5em; background-color: white; border-radius: 50%; border: 2px dashed black; padding: 5px 20px; position: absolute; top: -20px; left: -12px;
}

.imageBorder {
	border: 3px dashed white;
}

.responsiveImg {
	width: 100%;
}

.imageBorder.responsiveImg {
	width: 96%;
}

.colorBar {
	border-bottom: 2px dashed white; border-left: 2px dashed white; border-right: 2px dashed white; text-indent: -999em;padding: 5%; 
}

#colorBars {
	margin: 0 0 25% 0;
}
.colorBar1 {
	background-color: red; border-top: 2px dashed white;
}

.colorBar2 {
	background-color: green;
}

.colorBar3 {
	background-color: orange; 
}

#wheelWrap {
	margin-top: 18px;
}

#wheelWrap img {
	width: 30%; cursor: cell;
}

.stretchBox 1 {
	margin: 45% 0;
}

label {
	color: white; font-weight: 700; font-size: 5em; margin-right: 1%;
}

.formText {
	border: 2px dashed white; background-color: #006699; color: white; font-size: 5em; width: 60%;
}

.placeHolder {
	height: 167px; background-color: #CCCCCC; padding: 4%; color: white; font-size: 2em;
}


.importantLink {
	font-weight: 700; color: white; padding: 20px; border: 1px solid white; background-color: #154f6c; font-size: 2.5em; margin: 0 auto; display: block; width: 20%; text-align: center; 
	}
	
#arrowWrap {
	position: relative;
}
#arrow {
	position: absolute; bottom: -140; right: 80px; background-image: url(../images/arrow.png); width: 358px; height: 148px;
}

.halfCol {
	width: 49%; float: left; border-right: 2px solid white;
}

.halfCol:last-child  {
	border-right: none; padding-left: 15px;
}

#subContent {
	margin-top: 18px;
}

#subContent article p {

width: 95%;
	
}

#subContent h2 {
	padding-left: 8%; padding-bottom: 18px;
}



.imageList li a {
	width: 185px; height: 104px; border: 1px solid #666; 
}

#apple {
	background-image: url(../images/appleScreen.jpg);
}

#hbo {
	background-image:url(../images/hboScreen.jpg);
}

#netflix {
	background-image: url(../images/netflixScreen.jpg)
}

h3 {
	font-size: 2.3em; font-weight: bold;	margin-bottom: 18px;
}

.imageList li {
	text-align: center; width: 185px;
}

#amazon {
	width: 144px; height: 58px; background-image: url(../images/amazonIcon.png);
}

#w3 {
	
	width: 71px; height: 58px; background-image: url(../images/w3Icon.png);
}

#github {
	width: 57px; height: 58px; background-image: url(../images/githubIcon.png);
}

footer {
	margin-top: 56px;
}

#budget {
	margin-bottom: 20%;
}

#contact orrt label {
	font-size: 2em; color: black; margin-bottom: 9px;
}

#name, #email {
	margin-bottom: 9px; margin-right: 3%;
}

#contact p {
	margin-bottom: 18px;
}

#commentsLabel {
	display: block; margin-top: 18px;
}

#contact form, #aboutContent {
	width: 66%; float: left;
}

aside {
	width: 20%; float: right;background-color: #006699; color: white; padding: 2% 2%;
}

textarea {
	width: 100%; height: 300px;
}

.submit {
	background-color: #006699; color: white; font-size: 2em; padding: 15px; border: none; float: right; margin-top: 18px; margin-right: 0; 
}

.submit:hover {
	cursor: pointer; opacity: .5;
}

aside a {
	color: white; font-weight: bold;word-wrap: break-word;
}

aside h2 {
	color: white; font-size: 3em;
}

em {
	font-weight: bold;
}

aside li {
	margin-bottom: 18px;
}



.banner {
	margin-left: -40px; margin-top: 18px; width: 1920px; height: 423px; background-image: url(../images/aboutBG.jpg);
}

#aboutContent p {
	padding-right: 5%;
}

.my-gallery {
	display: none;
}

.my-gallery .slides .slide {
display: none;
 }

.slidetext {
	text-align: center;
}

#portfolio #mainContent .mobile {
	display: none;
}

#portfolioGrid {
	display: table; border-collapse: separate; border-spacing: 20px; margin-top: -110px;
}

.gridRow {
	display: table-row;
}

.portfolioItem {

	display: table-cell; width: 20%; vertical-align: top; padding-bottom: 36px;
}

#portfolioGrid Img {
	width: 100%; margin-bottom: 9px; border: 2px solid #666;
}

#portfolio h3 {
	text-align: center;
}

#ucfTwo {
	display: none;
}

#optionsForm li {
	text-align: left; font-size: 1.8em; margin: 18px 0;
}

#optionsForm input {
	margin-right: 6px; 
}

#optionsForm {
	margin: 0 0 46px 0;
}

